.bodyl{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top,#ff9956,#ffce59);
  display: flex;
  overflow-y:scroll;
}
.video{
  width:560px;
  height:315px;
}
.trajCaixa{
  display: flex;
  flex-direction:row;
}
.pessoal{
  background-color: #2bb140;
  width: 120px;
  height: 200px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trajImagem{
  width: 90px;
  height: 90px;
}
.trajImagemTexto{
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.trajTextoPagina{
  width: 60vw;
}
.barraverde{
  display: flex;
  
  align-items: center;
 
  width: 100vw;
  height: 10vh;
 
  justify-content:  space-between;
}
.faixa{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100vw;
  height: 20px;
}
.faixa2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 100vw;
  height: 20px;
}
.barrahab{

  width: 100vw;
  height: 200px;
  margin-top: 40px;
}
.barraTitulo{

  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
 
}
.barraimg{
  display: flex;
  overflow-x:scroll;
 
}
.barraimg::-webkit-scrollbar {
  width: 0.1em;
}

.barraimg::-webkit-scrollbar-thumb {
  background-color: #6c7734;
}
.barraimg1{
  display: flex;
  overflow-x:scroll;
 
}
.barraimg1::-webkit-scrollbar {
  width: 0.1em;
}

.barraimg1::-webkit-scrollbar-thumb {
  background-color: #575656;

}
.imgh{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-left: 15px;
}
.imgf{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin-left: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.homeico1{
  margin-left: 15px;
}
.homeico2{
  margin-right: 35px;
}
.bodyred{
  display: flex;
  
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle,#f70015ad,#870305);
}
.bodyred2{
  display: flex;
  
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #52777c;
}
.prenderBarraContatos{
  position: fixed;
  right: 0px;
	top: 0px;
}
.barracontatos{
  background-color: #575656;
  width: 100vw;
  height: 10vh;
  display: flex;
  
  align-items: center;
  color: white;
  justify-content:  space-between;
}
.barracontatos2{
  background-color: #575656;
  width: 100vw;
  height: 10vh;
  display: flex;
  
  align-items: center;
  justify-content:  space-between;
}
.tituloContatos{
  width: 100vw;
  background-color: #870305;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxContatos{
  display: flex;
 
  flex-direction: row;
  width: 100vw;
  height: 100vh;

}
.AWFD{
  background-color: #ddd1ab;
  background-color: #ddd1ab;
  position: fixed;
  right: 0px;
	top: 10px;
}
.caixaDeContados{
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.linhaPretaContado{
  width: 2px;
  height: 100vh;
  background-color: #575656;
}

.menuContatos{
  width: 30vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(138, 82, 82);
}
.menuContatos2{
  width: 30vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ddd1ab;
}
.MenuContatoNavegar{
  width: 30vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;

}
.contatoTRAJ{
  width: 30vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right,#ff9956,#ffce59);
}
.contatoDriven{
  width: 30vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left,#f7d878ff,#f78b7aff);
}
.contatoHabilidade{
  width: 30vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right,#3f4a17,#97a250);
}
.contatoCuri{
  width: 30vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right,#282d61,#bb247f,#ef89e4);
}
.textoContados{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.bodyverde{
  display: flex;
 
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top,#3f4a17,#97a250);
}
.whatsapp{
  
  background-image: linear-gradient(-90deg, #53c960,#39ba4b,#2bb140);
  border-radius: 5px;
  height: 80px;
}
.newbodyverde{
  display: flex;
 
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  background:rgb(66, 66, 66);
}
.informacao{
  height: 400px;
  width: 500px;
  background-color: #52777c;
  position: fixed;
  left: 20%;
  top: 25%;
  display: none;
}
.informacao2{
  height: 400px;
  width: 500px;
  background-color: #52777c;
  position: fixed;
  left: 25%;
  top: 25%;
 
}
.inftexto{
  margin-left: 176px;
}
.fecharinf{
  height: 100vh;
  width: 100vw;
 
  position: fixed;
  left: 0px;
  top: 0px;
}
.fecharinf2{
  display: none;
}
.bodyroxo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top,#282d61,#bb247f,#ef89e4,#282d61);
}
.bodyrosa{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top,#f7d878ff,#f78b7aff);
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg,#52777c,#ddd1ab);
}
.contato{
  height: 30vh;
  width: 100vw;
}
.texto{
  background-color: blanchedalmond;
  margin-bottom: 5px;
}
.mapa{
  width: 500px;
  margin-bottom: 5px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  
}
.bloco{
  width: 50px;
  height: 50px;
  background-color: blue;
}
.jogador{
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50px;
}
.contatos{
  width: 50px;
  height: 50px;
  background-color: red;
}
.historia{
  width: 50px;
  height: 50px;
  background-color: orange;
}
.driven{
  width: 50px;
  height: 50px;
  background-color: pink;
}
.curriculo{
  width: 50px;
  height: 50px;
  background-color: blueviolet;
}
.habilidades{
  width: 50px;
  height: 50px;
  background-color: green;
}
.pd{
  width: 50px;
  height: 50px;
  background-color: black;
}
.caixasSetas{
  width: 150px;
  height: 150px;
 
  position: relative;
}
.botaocima{
  width: 50px;
  height: 50px;
  position: absolute;
	right: 50px;
	top: 0;
}
.botaoesquerda{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 0px;
	top:50px;
}
.botaodireita{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 100px;
	top: 50px;
}
.botaobaixo{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 50px;
	top: 100px;
}
.daniel{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin-bottom: 50px;
}
.legenda{
  width: 160px;
  height: 150px;

  position: fixed;
  right: 0px;
	top: 10px;

}
.red{
  width: 25px;
  height: 25px;
  background-color: red;
  margin-right: 5px;
  border-radius: 4px;
}
.orange{
  width: 25px;
  height: 25px;
  background-color: orange;
  margin-right: 5px;
  border-radius: 4px;
}
.pink{
  width: 25px;
  height: 25px;
  background-color: pink;
  margin-right: 5px;
  border-radius: 4px;
}
.green{
  width: 25px;
  height: 25px;
  background-color: green;
  margin-right: 5px;
  border-radius: 4px;
}
.blueviolet{
  width: 25px;
  height: 25px;
  background-color: blueviolet;
  margin-right: 5px;
  border-radius: 4px;
}
.leg{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  
}
@media (max-width: 600px) {
  .video{
    width:280px;
    height:157.5px;
  }
  .trajTextoPagina{
    width: 80vw;
  }
  .boxContatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  
  }
  .MenuContatoNavegar{
    display: none;
  
  }
  
  .linhaPretaContado{
    width: 100vw;
    height: 2px;
    background-color: #575656;
  }
  .menuContatos{
    width: 100vw;
    height: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(138, 82, 82);
  }
  .menuContatos2{
    width: 100vw;
    height: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ddd1ab;
  }
  .imgf{
    width: 150px;
    height: 150px;
    border-radius: 90px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .informacao2{
    height: 400px;
    width: 410px;
    position: fixed;
    left: 0px;
    top: 25%;
   
  }
  .inftexto{
    margin-left: 130px;
  }
  /* Estilos específicos para telas menores que 600px */
  .legenda{
    width: 150px;
    height: 150px;
   
    position: fixed;
    left: 10px;
    top: 10px;
  }
  .mapa{
    width: 250px;
    margin-bottom: 5px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    
  }
  .bloco{
    width: 25px;
    height: 25px;
    background-color: blue;
  }
  .jogador{
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50px;
  }
  .contatos{
    width: 25px;
    height: 25px;
    background-color: red;
  }
  .historia{
    width: 25px;
    height: 25px;
    background-color: orange;
  }
  .driven{
    width: 25px;
    height: 25px;
    background-color: pink;
  }
  .curriculo{
    width: 25px;
    height: 25px;
    background-color: blueviolet;
  }
  .habilidades{
    width: 25px;
    height: 25px;
    background-color: green;
  }
  .pd{
    width: 25px;
    height: 25px;
    background-color: black;
  }
  
}
@media (max-width: 300px) {
  .legenda{
    width: 150px;
    height: 150px;
    
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 10px;
  }
  .red{
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 5px;
    border-radius: 4px;
  }
  .orange{
    width: 15px;
    height: 15px;
    background-color: orange;
    margin-right: 5px;
    border-radius: 4px;
  }
  .pink{
    width: 15px;
    height: 15px;
    background-color: pink;
    margin-right: 5px;
    border-radius: 4px;
  }
  .green{
    width: 15px;
    height: 15px;
    background-color: green;
    margin-right: 5px;
    border-radius: 4px;
  }
  .blueviolet{
    width: 15px;
    height: 15px;
    background-color: blueviolet;
    margin-right: 5px;
    border-radius: 4px;
  }
}