.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.contato{
  height: 30vh;
  width: 100vw;
}
.texto{
  background-color: blanchedalmond;
  margin-bottom: 5px;
}
.mapa{
  width: 500px;
  margin-bottom: 5px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  
}
.bloco{
  width: 50px;
  height: 50px;
  background-color: blue;
}
.jogador{
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50px;
}
.contatos{
  width: 50px;
  height: 50px;
  background-color: red;
}
.historia{
  width: 50px;
  height: 50px;
  background-color: orange;
}
.driven{
  width: 50px;
  height: 50px;
  background-color: pink;
}
.curriculo{
  width: 50px;
  height: 50px;
  background-color: blueviolet;
}
.habilidades{
  width: 50px;
  height: 50px;
  background-color: green;
}
.pd{
  width: 50px;
  height: 50px;
  background-color: black;
}
.caixasSetas{
  width: 150px;
  height: 150px;
  background: yellow;
  position: relative;
}
.botaocima{
  width: 50px;
  height: 50px;
  position: absolute;
	right: 50px;
	top: 0;
}
.botaoesquerda{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 0px;
	top:50px;
}
.botaodireita{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 100px;
	top: 50px;
}
.botaobaixo{
  width: 50px;
  height: 50px;
  position: absolute;
	left: 50px;
	top: 100px;
}
.daniel{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin-bottom: 50px;
}
.legenda{
  width: 150px;
  height: 150px;
  
  position: fixed;
  right: 0px;
	top: 10px;
}
.red{
  width: 25px;
  height: 25px;
  background-color: red;
  margin-right: 5px;
  border-radius: 4px;
}
.orange{
  width: 25px;
  height: 25px;
  background-color: orange;
  margin-right: 5px;
  border-radius: 4px;
}
.pink{
  width: 25px;
  height: 25px;
  background-color: pink;
  margin-right: 5px;
  border-radius: 4px;
}
.green{
  width: 25px;
  height: 25px;
  background-color: green;
  margin-right: 5px;
  border-radius: 4px;
}
.blueviolet{
  width: 25px;
  height: 25px;
  background-color: blueviolet;
  margin-right: 5px;
  border-radius: 4px;
}
.leg{
  display: flex;
}
@media (max-width: 600px) {
  /* Estilos específicos para telas menores que 600px */
  .mapa{
    width: 250px;
    margin-bottom: 5px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    
  }
  .bloco{
    width: 25px;
    height: 25px;
    background-color: blue;
  }
  .jogador{
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50px;
  }
  .contatos{
    width: 25px;
    height: 25px;
    background-color: red;
  }
  .historia{
    width: 25px;
    height: 25px;
    background-color: orange;
  }
  .driven{
    width: 25px;
    height: 25px;
    background-color: pink;
  }
  .curriculo{
    width: 25px;
    height: 25px;
    background-color: blueviolet;
  }
  .habilidades{
    width: 25px;
    height: 25px;
    background-color: green;
  }
  .pd{
    width: 25px;
    height: 25px;
    background-color: black;
  }
  
}